<html>
    <body style="background-color:black">
        <h1 style="background-color:Tomato; font-family: verdana;">Flight Delay Classifier</h1>
        <form method ="POST">
            <label style ="color: whitesmoke; font-family: verdana;">Flight Date: <input type="date" name="fdate" placeholder="Flight Date"></label><br><br>
            <label style ="color: whitesmoke; font-family: verdana;">DepTime: <input type="date" name="ddate" placeholder="Departure Date"></label><br><br>
            <label style ="color: whitesmoke; font-family: verdana;">UniqueCarrier: <input type="text" name="carrier" placeholder="Carrier"></label><br><br>
            <label style ="color: whitesmoke; font-family: verdana;">Origin: <input type="text" name="origin" placeholder="Origin"></label><br><br>
            <label style ="color: whitesmoke; font-family: verdana;">Destination: <input type="text" name="dest" placeholder="Destination"></label><br><br>
            <label style ="color: whitesmoke; font-family: verdana;">Distance: <input type="number" name="dist" placeholder="Distance"></label><br><br>
            <input style=" font-family: verdana" type="submit" value="Submit"><br><br>
            <label for="Upload Prediction Set">Upload:</label><br><br>
            <input type="file" name="upload" id="file-select">
        </form>
    </body>
</html>

