<html>
    <div class="login">
        <body style="background-color:rgb(254, 235, 235)">
            <h1 style="background-color:Tomato; font-family: verdana;">Flight Delay Classifier</h1>
            <form action = "{{ url_for('predict_') }}"" method ="POST">
                <label style ="color: rgb(0, 0, 0); font-family: verdana;">Flight Date: <input type="date" name="fdate" placeholder="Flight Date"></label><br><br>
                <label style ="color: rgb(0, 0, 0); font-family: verdana;">DepTime: <input type="date" name="ddate" placeholder="Departure Date"></label><br><br>
                <label style ="color: rgb(0, 0, 0); font-family: verdana;">UniqueCarrier: <input type="text" name="carrier" placeholder="Carrier"></label><br><br>
                <label style ="color: rgb(0, 0, 0); font-family: verdana;">Origin: <input type="text" name="origin" placeholder="Origin"></label><br><br>
                <label style ="color: rgb(0, 0, 0); font-family: verdana;">Destination: <input type="text" name="dest" placeholder="Destination"></label><br><br>
                <label style ="color: rgb(0, 0, 0); font-family: verdana;">Distance: <input type="number" name="dist" placeholder="Distance"></label><br><br>
                <label style ="color: rgb(0, 0, 0); font-family: verdana;">DayOfWeek: <input type="text" name="dow" placeholder="DayOfWeek"></label><br><br>
                <button style=" font-family: verdana" type="submit" class="btn btn-primary">Predict</button><br><br>
                <input type = "file" id="=batchfile" name="batchfilename">
                <input type="submit"
            </form>
        
        
        
        </body>
    </div>
</html>